.header {
  background: url('../imgs/background.svg') center no-repeat;

  height: 200px;
  background-color: black;
  width: 100%;
}
.logo-container {
  max-width: 1080px;
  margin: 0 auto;
}

.logo {
  width: 64px;
  height: 64px;
  padding-top: 24px;
}

.container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}

.container1 {
  background-color: #fff;
  height: 540px;
  width: 520px;
  border-radius: 4px;
  margin-top: -100px;
  border: 1px solid #c4c8cc;
  margin-bottom: 64px;
  padding: 24px;
}

.container1 h1 {
  font-size: 24px;
  color: #2e2d2c;
}

.container1 p {
  font-size: 14px;
  color: #2e2d2c;
  margin-top: 16px;
}

.container1 h3 {
  color: #2e2d2c;
  font-size: 16px;
  margin-top: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 24px;
}

input {
  border: 1px solid #ababab;
  border-radius: 2px;
  height: 40px;
  margin: 8px 0;
  width: 100%;
  padding: 0 8px;
}

.container1 form input[type='tel'] {
  height: 40px;
  width: 140px;
}

.tel-container {
  display: flex;
  flex-direction: row;
}

.teste {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.botao {
  width: 88px;
  height: 40px;
  background: #3570b2;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  margin-top: 24px;
  box-shadow: 0px 3px 6px #2e2d2c66;
  transition: 1s;
}

.botao:hover {
  background-color: #3570f5;
  transform: scale(1.2);
}

.container2 {
  background-color: #ebf0f5;
  height: 540px;
  width: 520px;
  border-radius: 4px;
  margin-top: -100px;
  margin-left: 30px;
  border: 1px solid #c4c8cc;
  padding: 24px;
}

.container2 input {
  border: 0 none;
  background-color: transparent;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #2e2d2c;
  font-weight: 600;
}

.container2 input:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
  border: 0 none;
}

.container2 label {
  margin-top: 16px;
  color: #2e2d2c;
}

.container2 h1 {
  color: #403d70;
  font-size: 20px;
  text-transform: uppercase;
}

.container2 p {
  color: #ababab;
  font-size: 14px;
  margin-top: 24px;
}

.footer {
  background: transparent linear-gradient(116deg, #5a5789 0%, #2d2c45 100%);
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  width: 100%;
  height: 40px;
}

@media (max-width: 596px) {
  .logo-container {
    max-width: 90%;
  }

  .container {
    display: block;
    width: 90%;
    justify-content: center;
  }

  .container1 {
    width: 100%;
    margin-top: -50px;
  }

  .container2 {
    width: 100%;
    margin-top: 24px;
    margin-left: 0;
  }
}
